@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
  }
  
  .carousel {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 800px;
    overflow: hidden;
    border-radius: 10px;
    background: rgb(28,28,28);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel-slide {
    width: 100%;
    height: 90%;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    border: 2px solid rgb(219,167,68);
    display: flex;
    justify-content: center;
    align-items: end;
    transition: 0.3s ease-in-out;
  }
  
  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 2rem;
    font-weight: 400;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 40%;
    z-index: 1;
  }
  
  .carousel-btn.prev {
    left: 5px;
  }
  
  .carousel-btn.next {
    right: 5px;
  }

  #prev-btn, #next-btn {
    font-size: 80px;
    font-weight: 300;
    color: rgb(28,28,28);
    color: white;
  }
  
  .buy-btn {
    width: 200px;
    height: 80px;
    background: rgb(28,28,28);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: rgb(219,167,68);
    border-radius: 20px;
    margin-bottom: 30px;
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    border: 2px solid rgb(219,167,68);
  }

  .card-container {
    background: linear-gradient(to right, rgb(199, 141, 73), rgb(242, 193, 120) );
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .card-container-top {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px 10px 0 0;
    color: white;
    background: linear-gradient(to right, rgb(199, 141, 73), rgb(242, 193, 120) );
    padding: 0 5px;
  }
  
  .card-container-bottom {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: rgb(28,28,28);
    color: white;
    padding: 0 5px;
  }
  
  .col {
    width: 20%;
    display: flex;
    justify-content: center;
    padding: 0 8px;
    font-size: 20px;
  }
